.savedRequest {
	cursor: pointer;
}

.ui-effects-transfer { 
	border: 1px solid black;
}

.control-group {
	margin-bottom: 0px;
}

#savedRequestsRow .controls {
	max-height: 150px;
	overflow: auto;
	margin-bottom: 15px;
}

#savedRequestsRow .historyDate {
    max-width: 70px;
    white-space: nowrap;
}

#savedRequestsRow .historyUrl {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 180px;
    white-space: nowrap;
}

#requestHeaders input {
	margin-bottom: 5px;
}

#responseTabs {
    margin-top: 10px;
}

#addHeader {
	margin-bottom: 10px;
}

.help-inline {
    margin-bottom: 10px;
}

#url, #requestBody, #savedRequestsRow {
    font-size: 10pt;
}

#response, #rawResponse, #responseHeaders {
    font-size: 8pt;
    line-height: 14pt;
}
