@grey: #888;


// COMMON
body {
  padding-top: 60px;
  padding-bottom: 40px;

  .form-group {
    margin-bottom: 8px;
  }

  .panel-body {
    height: 250px;
    max-height: 400px;
    overflow-y: scroll;
  }
}


// NAVBAR
.navbar {

  .container-fluid {
    margin: 0 15px;
  }

  .navbar-brand {
    padding: 0px;
  }

}

// ABOUT MODAL
.about-modal {
  text-align: center;
  .modal-dialog {
    width: 500px;
    .modal-footer {
      text-align: center;
    }
  }
}

#response-tabs {
  margin-top: 10px;
}

.main {
  margin-top: 4px;
}

.control-group {
  margin-bottom: 0px;
}

#saved-requests {

  .saved-request {
    cursor: pointer;
  }

  .date-and-url {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td {
    padding: 4px;
    vertical-align: middle;
  }
}

#add-header-action {
  font-size: 12px;
}

#request-headers {
  margin-top: 6px;
  td {
    border-top: none;
    padding: 2px;
    
    a {
      line-height: 30px;
    }
  }
}

.label {
  font-size: 12px;
}

#response-tabs {
  .nav {
    margin-bottom: 10px;
  }

  #raw-response {
    padding: 2px;
  }
}

#response-status {
  position: absolute;
  top: 10px;
  right: 15px;
}

.help-inline {
  margin-bottom: 10px;
}

#url, #request-body, #right-panel, .header, .help-block {
  font-size: 10pt;
}

#response, #raw-response, #response-headers {
  font-size: 8pt;
  line-height: 14pt;
}

.footer {
  color: #ccc;
}

/**
 * Fix for modal screen flicker
 * https://github.com/twbs/bootstrap/issues/8768
 */
body.modal-open {
  margin-right: 0px !important;
}

.modal-open .navbar-fixed-top {
  margin-right: 0px !important;
}