@import '../lib/bootstrap/less/bootstrap.less';
@import '../lib/font-awesome/less/font-awesome.less';

@fa-font-path:   "../lib/font-awesome/fonts";

@grey: #888;

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              #444;
@gray:                   #777;
@gray-light:             #808080;
@gray-lighter:           #ddd;

@brand-primary:         #D9230F;
@brand-success:         #469408;
@brand-info:            #029ACF;
@brand-warning:         #9B479F;
@brand-danger:          #D9831F;

@body-bg:               #FCFCFC;
@text-color:            @gray;
@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);
@link-hover-decoration: underline;

@headings-color:        @gray-dark;


// COMMON

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;

  body {

    font-family: 'Roboto', sans-serif;

    padding-top: 60px;
    padding-bottom: 20px;

    .form-group {
      margin-bottom: 8px;
    }

  }
}

.form-control {

  transition: all 0.75s ease;

  &.animate-add {
    transform: rotateY(90deg);
  }

  &.animate {
    transform: rotateY(0deg);
  }
}

.fade-in {

  &.ng-hide-remove {
    transition: 0.5s linear all;
  }

  &.ng-hide {
    opacity: 0;
  }

  &.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

}


// NAVBAR
.navbar {

  margin-bottom: 0px;

  .container-fluid {
    margin: 0 15px;
  }

  .navbar-brand {
    padding: 0px;
  }

  .title {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #777;
    font-size: 24px;
    font-weight: 100;
  }

}


// ABOUT MODAL
.about-modal {
  text-align: center;
  .modal-dialog {
    width: 500px;
    .modal-footer {
      text-align: center;
    }
  }
}


// ERRORS
.error-message {
  color: @brand-danger;
  margin-top: 5px;
  margin-bottom: 10px;

  .fa-exclamation-triangle {
    margin-right: 2px;
  }
}


#request-body {
  textarea {
    height: 250px;
    resize: vertical;
  }
}

.actions {
  margin-bottom: 10px;
}

#add-header-action {
  font-size: 12px;
}

#request-tabs {
  .tab-content {
    padding-top: 10px;
  }
}


// REQUEST HISTORY
#request-history {

  margin-bottom: 0px;

  .history-controls {

    margin-bottom: 10px;
    
    .clear {
      text-align: right;
      margin-bottom: 5px;
    }

    .search {
      position: relative;
      width: 25%;

      .fa-search {
        color: #ccc;
        position: absolute;
        right: 10px;
        top: 8px;
      }
    }

  }

  .history-item {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0px;

    transition: transform 0.25s;

    &:hover {
      cursor: pointer;
      background-color: #ddd;
      transform: scale(1.005, 1.005);
    }

    .date {
      font-size: 11px;
      color: #777;
    }

    .method, .status, .content-type {
      font-size: 11px;
      color: white;
      display: inline-block;
      border-radius: 4px;
      background-color: #aaa;
      padding: 2px 5px;
    }

    .host {
      margin-top: 5px;
      font-size: 16px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .fa {
        color: #ccc;
      }
    }

    .href {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .show-more {
    margin-top: 10px;
  }

}


#request-headers {
  margin-top: 6px;
  td {
    border-top: none;
    padding: 2px;
    
    a {
      line-height: 30px;
      margin-left: 5px;
    }
  }
}

.label {
  font-size: 12px;
}

pre {
  white-space: normal;
}

#response-tabs {
  .nav {
    margin-bottom: 10px;
  }

  #raw-response {
    padding: 2px;
  }
}

#response-status {
  position: absolute;
  top: 10px;
  right: 15px;
}

.help-inline {
  margin-bottom: 10px;
}

#url, #request-body textarea, .help-block {
  font-size: 10pt;
}

#response, #raw-response, #response-headers {
  font-size: 8pt;
  line-height: 14pt;
}

.footer {
  color: #ccc;
}
