<div class="history-item">

	<div class="date pull-right">
		{{ item.date | date:'yyyy-MM-dd HH:mm:ss' }}
	</div>

	<div class="method">
		{{ item.method }}
	</div>

	<div class="content-type">
		{{ item.contentType }}
	</div>

	<div class="secure">
		<i class="fa fa-lock" aria-hidden="true" ng-show="URL.protocol === 'https'"></i>
		<i class="fa fa-unlock" aria-hidden="true" ng-show="URL.protocol !== 'https'"></i>
	</div>

	<div class="host">
		{{ URL.host }}
	</div>

	<div class="href">{{ URL.href }}</div>

</div>

